<div class="item-inner">
  {{#if label}}
    <div class="item-title floating-label">{{label}}</div>
  {{/if}}
  <div class="item-input item-input-field">

    {{#if isTextArea}}

      {{one-way-textarea
        value=value
        name=name
        placeholder=placeholder
        autocapitalize=autocapitalize
        autocorrect=autocorrect
        autofocus=autofocus
        disabled=disabled
        readonly=readonly
        pattern=pattern
        min=min
        max=max
        maxlength=maxlength
        required=required
        autocomplete=autocomplete
        spellcheck=spellcheck
        keyEvents=keyEvents
        onfocus=onfocus
        onblur=onblur
        update=onchange}}

    {{else}}

      {{one-way-input
        type=type
        value=value
        name=name
        placeholder=placeholder
        autocapitalize=autocapitalize
        autocorrect=autocorrect
        autofocus=autofocus
        disabled=disabled
        readonly=readonly
        pattern=pattern
        min=min
        max=max
        maxlength=maxlength
        required=required
        autocomplete=autocomplete
        spellcheck=spellcheck
        keyEvents=keyEvents
        onfocus=onfocus
        onblur=onblur
        update=onchange}}

    {{/if}}

  </div>

  {{yield}}

</div>
